{
  "env": {
    "browser": true,
      "es6": true,
      "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {}
}

